# Client Recommendation

In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
all_order_train = pd.read_pickle('../all_order_train.pkl')
all_order_test = pd.read_pickle('../all_order_test.pkl')
print(all_order_train.shape, all_order_test.shape)

all_order_train.head()

(33720820, 12) (98286, 12)

,order_id,user_id,order_number,order_hour_of_day,product_id,purchase_date,merchant,product_name,price,aisle,department,week_number
0,2539329,1,1,8,196,2019-02-13,L&M Markets (Hometown Grocers Co-op),Soda,3.08,soft drinks,beverages,7
1,2231262,31,17,11,196,2019-03-10,L&M Markets (Hometown Grocers Co-op),Soda,3.08,soft drinks,beverages,10
2,3058369,195,34,10,196,2019-02-25,L&M Markets (Hometown Grocers Co-op),Soda,3.08,soft drinks,beverages,9
3,2257155,951,3,20,196,2019-03-09,L&M Markets (Hometown Grocers Co-op),Soda,3.08,soft drinks,beverages,10
4,1121647,992,7,10,196,2019-03-08,L&M Markets (Hometown Grocers Co-op),Soda,3.08,soft drinks,beverages,10

In [8]:
shared_clients = set(all_order_train['user_id'].values).intersection(all_order_test['user_id'].values)
print(len(shared_clients))

3457

In [10]:
train_shared_client_week_df = all_order_train.loc[all_order_train['user_id']\
                                                  .isin(list(shared_clients))][['user_id', 'week_number']]\
                                                  .astype('str').drop_duplicates()\
                                                  .groupby(['user_id'], as_index=False)['week_number']\
                                                  .agg(['count']).reset_index()\
                                                  .sort_values(['count'], ascending=False)

train_shared_client_week_df.head()

     user_id  count
1549  183503      5
3210   86398      5
290   116891      5
3196   85846      5
1494  180563      5

In [13]:
target_client1 = '183503'
target_client2 = '123719'