In [13]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings("ignore")

In [3]:
all_order_df = pd.read_pickle('../all_order.pkl')
print(all_order_df.shape)

all_order_df.head()

(33819106, 11)

,order_id,user_id,order_number,order_hour_of_day,product_id,purchase_date,merchant,product_name,price,aisle,department
0,2539329,1,1,8,196,2019-02-13,L&M Markets (Hometown Grocers Co-op),Soda,3.08,soft drinks,beverages
1,2231262,31,17,11,196,2019-03-10,L&M Markets (Hometown Grocers Co-op),Soda,3.08,soft drinks,beverages
2,3058369,195,34,10,196,2019-02-25,L&M Markets (Hometown Grocers Co-op),Soda,3.08,soft drinks,beverages
3,2257155,951,3,20,196,2019-03-09,L&M Markets (Hometown Grocers Co-op),Soda,3.08,soft drinks,beverages
4,1121647,992,7,10,196,2019-03-08,L&M Markets (Hometown Grocers Co-op),Soda,3.08,soft drinks,beverages

## Popurity Recommendation

* For each product there are 3 values:
  * `popularity = average daily purchase frequency`
  * `total_popularity = popularity * Tn_weight + popularity * T_earlier_weight`
    * `Tn` is the latest period, such as latest 2 weeks
    * `T_earlier` is rest of earlier period, from t1 to tn-1
  * `product_value = unit_price * period_purchase / period`
    * `period` is latest period tn, such as latest 2 weeks
* Sort all the products by total_popularity, product_value descending order
* For the target merchant who do not have the top N products, recommend these

In [14]:
popularity_df = all_order_df[['product_id', 'order_id', 'purchase_date']].astype('str').drop_duplicates()\
                                                  .groupby(['product_id'], as_index=False)[['order_id', 'purchase_date']]\
                                                  .agg({'order_id':'count', 'purchase_date':'count'})
popularity_df.head()

  product_id  order_id  purchase_date
0          1      1928           1928
1         10      2691           2691
2        100       457            457
3       1000      2697           2697
4      10000        13             13