# Data Preprocessing

* Generate These Tables:
  * Merchant Order table
  * Merchant Product table
  * Time Series purchase, client table

In [1]:
import pandas as pd

## Understand Data

* Raw data is downloaded from
  * https://www.kaggle.com/c/instacart-market-basket-analysis/data
  * https://en.wikipedia.org/wiki/List_of_supermarket_chains_in_Canada

In [2]:
products_df = pd.read_csv('products.csv')
print(products_df.shape)

products_df.head()

(49688, 4)

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [3]:
departments_df = pd.read_csv('departments.csv')
print(departments_df.shape)

departments_df.head()

(21, 2)

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [4]:
aisles_df = pd.read_csv('aisles.csv')
print(aisles_df.shape)

aisles_df.head()

(134, 2)

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [5]:
# order_dow is the day of the week
orders_df = pd.read_csv('orders.csv')
print(orders_df.shape)

orders_df.head()

(3421083, 7)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
1,2398795,1,prior,2,3,7,15.0
2,473747,1,prior,3,3,12,21.0
3,2254736,1,prior,4,4,7,29.0
4,431534,1,prior,5,4,15,28.0

In [7]:
order_prior_df = pd.read_csv('order_products__prior.csv')
print(order_prior_df.shape)

order_prior_df.head()

(32434489, 4)

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
order_train_df = pd.read_csv('order_products__train.csv')
print(order_train_df.shape)

order_train_df.head()

(1384617, 4)

   order_id  product_id  add_to_cart_order  reordered
0         1       49302                  1          1
1         1       11109                  2          1
2         1       10246                  3          0
3         1       49683                  4          0
4         1       43633                  5          1

## Merchant Product Table

## Merchant Order Table

In [10]:
order_prod_df = orders_df.merge(order_prior_df, on='order_id')
print(order_prod_df.shape)

order_prod_df.head()

(32434489, 10)

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0

In [25]:
test = order_prod_df.loc[order_prod_df['user_id']==1].sort_values(by=['order_number'])
test

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,NaN,196,1,0
1,2539329,1,prior,1,2,8,NaN,14084,2,0
2,2539329,1,prior,1,2,8,NaN,12427,3,0
3,2539329,1,prior,1,2,8,NaN,26088,4,0
4,2539329,1,prior,1,2,8,NaN,26405,5,0
5,2398795,1,prior,2,3,7,15.0,196,1,1
6,2398795,1,prior,2,3,7,15.0,10258,2,0
7,2398795,1,prior,2,3,7,15.0,12427,3,1
8,2398795,1,prior,2,3,7,15.0,13176,4,0
9,2398795,1,prior,2,3,7,15.0,26088,5,1
10,2398795,1,prior,2,3,7,15.0,13032,6,0
14,473747,1,prior,3,3,12,21.0,25133,4,0
13,473747,1,prior,3,3,12,21.0,10258,3,1
15,473747,1,prior,3,3,12,21.0,30450,5,0
11,473747,1,prior,3,3,12,21.0,196,1,1
12,473747,1,prior,3,3,12,21.0,12427,2,1
16,2254736,1,prior,4,4,7,29.0,196,1,1
17,2254736,1,prior,4,4,7,29.0,12427,2,1
18,2254736,1,prior,4,4,7,29.0,10258,3,1
19,2254736,1,prior,4,4,7,29.0,25133,4,1
20,2254736,1,prior,4,4,7,29.0,26405,5,1
28,431534,1,prior,5,4,15,28.0,13176,8,1
27,431534,1,prior,5,4,15,28.0,41787,7,0
26,431534,1,prior,5,4,15,28.0,17122,6,0
25,431534,1,prior,5,4,15,28.0,10326,5,0
22,431534,1,prior,5,4,15,28.0,12427,2,1
23,431534,1,prior,5,4,15,28.0,10258,3,1
21,431534,1,prior,5,4,15,28.0,196,1,1
24,431534,1,prior,5,4,15,28.0,25133,4,1
32,3367565,1,prior,6,2,7,19.0,25133,4,1
31,3367565,1,prior,6,2,7,19.0,10258,3,1
29,3367565,1,prior,6,2,7,19.0,196,1,1
30,3367565,1,prior,6,2,7,19.0,12427,2,1
33,550135,1,prior,7,1,9,20.0,196,1,1
34,550135,1,prior,7,1,9,20.0,10258,2,1
35,550135,1,prior,7,1,9,20.0,12427,3,1
36,550135,1,prior,7,1,9,20.0,25133,4,1
37,550135,1,prior,7,1,9,20.0,13032,5,1
42,3108588,1,prior,8,1,14,14.0,46149,5,0
38,3108588,1,prior,8,1,14,14.0,12427,1,1
39,3108588,1,prior,8,1,14,14.0,196,2,1
40,3108588,1,prior,8,1,14,14.0,10258,3,1
41,3108588,1,prior,8,1,14,14.0,25133,4,1
43,3108588,1,prior,8,1,14,14.0,49235,6,0
49,2295261,1,prior,9,1,16,0.0,12427,6,1
48,2295261,1,prior,9,1,16,0.0,10258,5,1
47,2295261,1,prior,9,1,16,0.0,196,4,1
45,2295261,1,prior,9,1,16,0.0,46149,2,1
44,2295261,1,prior,9,1,16,0.0,49235,1,1
46,2295261,1,prior,9,1,16,0.0,25133,3,1
55,2550362,1,prior,10,4,8,30.0,10258,6,1
56,2550362,1,prior,10,4,8,30.0,35951,7,0
54,2550362,1,prior,10,4,8,30.0,25133,5,1
57,2550362,1,prior,10,4,8,30.0,13032,8,1
52,2550362,1,prior,10,4,8,30.0,39657,3,0
51,2550362,1,prior,10,4,8,30.0,46149,2,1
50,2550362,1,prior,10,4,8,30.0,196,1,1
53,2550362,1,prior,10,4,8,30.0,38928,4,0
58,2550362,1,prior,10,4,8,30.0,12427,9,1