# Purchase Time Series Preparation

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas.plotting import autocorrelation_plot
from statsmodels.tsa.stattools import kpss
from statsmodels.tsa.stattools import adfuller

## Prepare Sample Data

* Find specific merchants, create training, testing

In [2]:
ts_purchase_df = pd.read_pickle('ts_purchase.pkl')
print(ts_purchase_df.shape, ts_purchase_df['merchant'].nunique())

ts_purchase_df.head()

(5568, 4) 49

                merchant purchase_date  purchase_amount  client_count
0  49th Parallel Grocery    2019-02-11         58743.49           470
1  49th Parallel Grocery    2019-02-12         73984.82           686
2  49th Parallel Grocery    2019-02-13         95749.55           876
3  49th Parallel Grocery    2019-02-14        118723.62          1095
4  49th Parallel Grocery    2019-02-15        152350.76          1379

In [6]:
agg_df = ts_purchase_df[['merchant', 'purchase_date']].astype('str').drop_duplicates()\
          .groupby(['merchant'], as_index=False)['purchase_date']\
          .agg(['count']).reset_index()\
          .sort_values(['count'], ascending=False)

print(min(agg_df['count']), max(agg_df['count']))
agg_df.head()

110 114

                 merchant  count
0   49th Parallel Grocery    114
21      Lalumière Bonanza    114
23     Le Marché Esposito    114
1       Asian Food Centre    114
25               Lococo's    114

Yeah, I assigned the purchase dates in uniformal distribution. This mean choose whatever merchant here is similar.

In [20]:
sample_ts_df = ts_purchase_df.loc[ts_purchase_df['merchant']=='49th Parallel Grocery']
print(sample_ts_df.shape)

sample_ts_df.head()

(114, 4)

                merchant purchase_date  purchase_amount  client_count
0  49th Parallel Grocery    2019-02-11         58743.49           470
1  49th Parallel Grocery    2019-02-12         73984.82           686
2  49th Parallel Grocery    2019-02-13         95749.55           876
3  49th Parallel Grocery    2019-02-14        118723.62          1095
4  49th Parallel Grocery    2019-02-15        152350.76          1379

In [23]:
import warnings
warnings.filterwarnings("ignore")

sample_ts_df['purchase_date'] = sample_ts_df['purchase_date'].astype('datetime64[ns]')

print(sample_ts_df.dtypes)
sample_ts_df.head()

merchant                   object
purchase_date      datetime64[ns]
purchase_amount           float64
client_count                int64
dtype: object

                merchant purchase_date  purchase_amount  client_count
0  49th Parallel Grocery    2019-02-11         58743.49           470
1  49th Parallel Grocery    2019-02-12         73984.82           686
2  49th Parallel Grocery    2019-02-13         95749.55           876
3  49th Parallel Grocery    2019-02-14        118723.62          1095
4  49th Parallel Grocery    2019-02-15        152350.76          1379

In [24]:
sample_train_df = sample_ts_df.iloc[0:100, :]
sample_test_df = sample_ts_df.iloc[100:, :]

print(sample_train_df.shape, sample_test_df.shape)

(100, 4) (14, 4)